.main_carousel{
    background:  rgba(0,0,0,1);
    background-image: url('../images/highlights/Joey_Saida_Central_Park_14.jpg');
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

.overlay{
    background-color:  rgba(0,0,0,0.3);
}