.main_carousel{
    background:  rgba(0,0,0,1);
    background-image: url('../images/highlights/Joey_Saida_Central_Park_14.jpg');
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: scroll;
}

.carousel_overlay{
    background-color:  rgba(0,0,0,0.3);
}
.current_image_container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    & img {
        width: 50%;
    }
}